repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: black
        name: Run black
        stages: [pre-commit]
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]

      - id: ruff
        name: Run ruff
        stages: [pre-commit]
        language: system
        entry: ruff check
        types: [python]
