[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
pytest-black = "*"
flake8-isort = "*"
sphinx-rtd-theme = "*"
pytest-asyncio = "*"
# VSCode needs these
rope = "*"
black = "*"
mypy = "*"

[packages]
numpy = "*"
epicscorelibs = ">=7.0.3.99.3.0a1"
typing_extensions = "*"

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
tests = "python -m pytest --cov-fail-under=90 --cov=aioca --cov-report term"
docs = "sphinx-build -E -b html docs build/html"

[pipenv]
allow_prereleases = true
