[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
flake8-black = "*"
flake8-isort = "*"
sphinx-rtd-theme = "*"

[packages]
epicscorelibs = "*"

[pipenv]
allow_prereleases = true
