[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aioca = {editable = true, extras = ["dev"], path = "."}

[packages]
aioca = {editable = true, path = "."}

[scripts]
tests = "python -m pytest"
docs = "sphinx-build -EWT --keep-going docs build/html"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
